c_compiler:
  - gcc                      # [linux]
  - clang                    # [osx]
  - vs2019                   # [win]
cxx_compiler:
  - gxx                      # [linux]
  - clangxx                  # [osx]
  - vs2019                   # [win]

python:
  - 3.8

boost:
  - 1.75

numpy:
  - 1.19

matplotlib:
  - 3.5.*

pin_run_as_build:
    boost:
      max_pin: x.x

# Otherwise it will find the wrong sdk, currently working on 10.10 as that is what Anaconda/conda-build does.
CONDA_BUILD_SYSROOT:
  - /opt/MacOSX10.10.sdk     # [osx]
